.back {
    all: unset;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 90px;
    padding: 10px;
    border-radius: 5px;

    &:hover {
        background-color: var(--global-secondary-color);
    }
}