.lesson-sources {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 40px;
    opacity: 0.8;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    a {
        color: unset;
    }
}

.lesson-body {
    > * {
        margin: 40px 0;
    }
}
