.lesson-sources {
    text-align: center;
    margin-top: -25px;
    margin-bottom: 40px;
    opacity: 0.8;
    font-size: 15px;
    display: flex;
    flex-direction: column;

    a {
        color: unset;
    }
}

.lesson-prerequisites {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--global-prerequisites-color);
    box-shadow: var(--global-box-shadow);

    > :first-child {
        text-align: center;
        font-size: 18px;
        margin-bottom: 5px;
    }

    > :last-child {
        text-align: center;
        opacity: 0.8;
        font-size: 14px;
        display: flex;
        flex-direction: column;

        a {
            color: unset;
        }
    }
}

.lesson-body {
    > * {
        margin: 40px 0;
    }
}
