.home-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;

    a {
        all: unset;
        box-sizing: border-box;
        min-width: 0;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        aspect-ratio: 1 / 0.7;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--global-secondary-color);
        text-decoration: none;
        font-size: 20px;
        box-shadow: var(--global-box-shadow);

        &:hover {
            background-color: var(--global-button-hover-color);
        }

        &:active {
            background-color: var(--global-button-active-color);
        }

        > div:first-child {
            margin-top: 25px;
        }

        > div:last-child {
            display: flex;
            align-items: center;
            height: 100%;
        }

        .katex {
            font-size: 0.9em;
        }
    }
}
