.home-container {
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
}

.home-text {
    margin-bottom: 30px;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    a {
        width: 100%;
        height: 50px;
        border: 2px solid rgb(216, 216, 216);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f3f3f3;
        text-decoration: none;
        font-weight: bold;
        color: rgb(71, 71, 71);

        &:hover {
            background-color: #f7f7f7;
        }

        &:active {
            background-color: #fcfcfc;
        }
    }
}
