.topic-container {
    margin-top: 30px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-link {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}
