@use '../../index.scss' as *;

nav {
    height: 30px;
    padding: 20px;
    background-color: $global-secondary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
