nav {
    height: 30px;
    padding: 20px;
    background-color: var(--global-secondary-color);
    display: flex;
    align-items: center;
    gap: 40px;

    a, button {
        all: unset;
        cursor: pointer;

        &:hover {
            opacity: 0.7;
        }
    }
}
