.code-execute {
    margin-top: 20px;
    text-align: center;

    button {
        all: unset;
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        background-color: var(--global-secondary-color);

        &:hover {
            background-color: var(--global-button-hover-color);
        }

        &:active {
            background-color: var(--global-button-active-color);
        }
    }
}

.code-output {
    background-color: var(--global-secondary-color);
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px var(--global-box-shadow-color);
}

.code-mirror {
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 4px 12px var(--global-box-shadow-color);
}
