@use './vars.scss' as *;

body {
    margin: 0;
    font-family: 'Gelasio';
    background-color: $global-primary-color;
    color: $global-font-color;
}

.global-container {
    margin-top: 30px;
    width: 100%;
    max-width: 800px;
}

.global-title {
    margin-bottom: 30px;
    text-align: center;
    font-size: 20px;
}